APP_NAME="Newspaper API"

# Database connection URL for the Prisma Client
DATABASE_URL=""

# Database configuration for Docker Compose (used by the Postgres service)
POSTGRES_USER=admin
POSTGRES_PASSWORD=pass
POSTGRES_DB=newspaperapi

# PgAdmin
PGADMIN_EMAIL=admin@mail.com
PGADMIN_PASSWORD=pass

# JWT
JWT_SECRET_ACCESS=your_access_token_secret
JWT_SECRET_REFRESH=your_refresh_token_secret