APP_NAME="Newspaper API"

API_ORIGIN=http://localhost:3001

# Database connection URL for the Prisma Client
DATABASE_URL=""

# JWT
JWT_SECRET_ACCESS=your_access_token_secret
JWT_SECRET_REFRESH=your_refresh_token_secret

# Redis
REDIS_HOST=redis
REDIS_PORT=6379